* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}


.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.content-with-bars {
  padding-top: 60px;
  padding-bottom: 70px;
  min-height: calc(100vh - 180px);
}

